.color-radio {
    display: none;
}

.grid.colors {
    margin: 1rem 0;
}

.color-radio + label {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 20%;
    margin-right: 0.5rem;
    cursor: pointer;
}

.color-radio:checked + label{
    border: 6px solid var(--secondary-color-light);

    transform: scale(1.2);
    transition: all 0.1s ease;
}