@using TimeTabler.Models
@using Color = TimeTabler.Models.Color

<InputRadioGroup @bind-Value:get="HexValue" @bind-Value:set="OnSelect">
    <div class="grid colors">
        @foreach (var color in DefaultColors)
        {
            <InputRadio id=@($"color-{color.HexValue}") Value="@color.HexValue" class="color-radio" style="display: none;"></InputRadio>
            <label for=@($"color-{color.HexValue}") style="background-color: @(color.HexValue)"></label>
        }
    </div>
</InputRadioGroup>

@code
{
    private string _hexValue = "#000000";
    public string HexValue
    {
        get => _hexValue;
        set
        {
            _hexValue = value;
            Value = new Color(value);
        }
    }

    [Parameter] public Color Value { get; set; }
    [Parameter] public EventCallback<Color> ValueChanged { get; set; }
    [Parameter] public List<Color> DefaultColors { get; set; } = new List<Color>();
    [Parameter] public string Class { get; set; } = "";

    private void OnSelect(string hex)
    {
        HexValue = hex;
        ValueChanged.InvokeAsync(Value);
    }
}
