.time-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 13px;
    background: var(--secondary-color-dark);
    color: #fff;
    font-family: -system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.time-table th, td {
    text-align: center;
    width: 175px;
    height: 47px;
}

.time-table thead{
    position: sticky;
    top: 0;
    z-index: 10;
}

.time-table thead::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background: var(--secondary-color-dark);
    z-index: -1;
}

.time-table thead th:last-child, th:first-child {
    width: 70px;
}

.time-table tbody td {
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 1.4;

    transition: opacity 0.3s ease;
    user-select: none;
    border-radius: 12.005px;
    background: var(--secondary-color);
    padding: 0;

position: relative;
}

.time-table td > span {
    font-size: 0.8em;
    font-weight: normal;
    display: block;
    width: 100%;
}

.task {
    border-radius: 12.005px;
    background: #D17777;
    cursor: pointer;
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

.task .task-border {
    border-radius: 12.005px;
    outline: 3px solid #de9292;
    outline-offset: -3px;
    opacity: 0.6;
}

.task .task-info {
    width: 100%;
    height: fit-content;
    max-height: 75%;
    padding-top: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.block {
    width: 100%;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    outline: 3px dashed #de9292;
    outline-offset: -3px;
    border-radius: 17.005px;
    padding: 5px;
    box-sizing: content-box;

    /*center*/
    margin-left: -5px;
    margin-top: -5px;
}

    .block .block-fill {
        border-radius: 17.005px;
        opacity: 0.4;
        width: 100%;
        height: 100%;

        padding: 5px;
        box-sizing: content-box;
        margin-left: -5px;
        margin-top: -5px;
    }

#current-time {
    position: relative;
    border-top: 3px dotted #aaa;
    width: 100%;
}
