@inherits LayoutComponentBase
<div class="layout-container">
    <div class="top-bar">
        <div class="logo">
            <p style="margin: 0;">Schedule Maker</p>
        </div>
        <div class="menu-button">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>

    <div class="page">
        @Body
    </div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
